<section>
     <h3>About Me</h3>

     <div class="face-lockup">

          <div class="face-img"></div>

          <div class="icon-mount1">{% include icons/icon-mountain.html %}</div>
          <div class="icon-mount2">{% include icons/icon-mountain.html %}</div>
          <div class="icon-mount3">{% include icons/icon-mountain.html %}</div>
          <div class="icon-mount4">{% include icons/icon-mountain.html %}</div>

     </div>

     <div class="blurb">
          <p> <strong>Hello this is some random text </strong> dnaskdn asd ad al dalkd aslkdadk aldkaldk alkdalkd nadl ad ad
               hja;lmdadkad akdnalskdaldk lasdasdeia ining idai iga igagbalgib ilbalda blaibapbad 131 adbasuikodba bdkadb jkda
               jdbakdbadkja d kudbakdj ad kadbakd akdbadad kdbada a j ad kdk kd aikdakjdba kadbakd iutatb kajbakubt kaubdakkab
               akbtaklta kabt atbaktatkb ktba kb aktb kabkad kabakdaudb kbdakubdad udbakd ad dkbadkabda kudbadkad adkbda dakud. </p>
     </div>
          <div class="skill-lockup">
               <div class="skill-unit">
                    <div class="skill-label">Communication</div>
                    <div class="skill-icons skill-8">
                         <span></span><span></span><span></span><span></span><span></span>
                         <span></span><span></span><span></span><span></span><span></span>
                    </div>
               </div>

               <div class="skill-unit">
                    <div class="skill-label">Learning</div>
                    <div class="skill-icons skill-10">
                         <span></span><span></span><span></span><span></span><span></span>
                         <span></span><span></span><span></span><span></span><span></span>
                    </div>
               </div>

               <div class="skill-unit">
                    <div class="skill-label">Programming</div>
                    <div class="skill-icons skill-6">
                         <span></span><span></span><span></span><span></span><span></span>
                         <span></span><span></span><span></span><span></span><span></span>
                    </div>
               </div>

               <div class="skill-unit">
                    <div class="skill-label">Organization</div>
                    <div class="skill-icons skill-7">
                         <span></span><span></span><span></span><span></span><span></span>
                         <span></span><span></span><span></span><span></span><span></span>
                    </div>
               </div>

               <div class="skill-unit">
                    <div class="skill-label">Web development</div>
                    <div class="skill-icons skill-5">
                         <span></span><span></span><span></span><span></span><span></span>
                         <span></span><span></span><span></span><span></span><span></span>
                    </div>
               </div>

               <div class="skill-unit">
                    <div class="skill-label">Creativity</div>
                    <div class="skill-icons skill-8">
                         <span></span><span></span><span></span><span></span><span></span>
                         <span></span><span></span><span></span><span></span><span></span>
                    </div>
               </div>
          </div>

</section>
