<section>
     <h3 id="about-me">About Me</h3>

     <div class="face-lockup">

          <div class="face-img" style="background-image: url(/assets/img/{{ site.avatar }})"></div>

          <div class="icon-mount1">{% include icons/icon-mountain.html %}</div>
          <div class="icon-mount2">{% include icons/icon-mountain.html %}</div>
          <div class="icon-mount3">{% include icons/icon-mountain.html %}</div>
          <div class="icon-mount4">{% include icons/icon-mountain.html %}</div>

     </div>

     <div class="blurb">
          {{ site.data.portfolio.blurb }}
     </div>
          <div class="skill-lockup">

               {% for skill in site.data.portfolio.skills %}

               <div class="skill-unit">
                    <div class="skill-label">{{ skill.name }}</div>
                    <div class="skill-icons skill-{{ skill.value }}">
                         <span></span><span></span><span></span><span></span><span></span>
                         <span></span><span></span><span></span><span></span><span></span>
                    </div>
               </div>

               {% endfor %}
          </div>

</section>
